        <footer>
            <div class="cont">
                <div class="flexCont footerWrap">
                    <ul class="trioUl">
                        <li><a>Memories</a></li>
                        <li><a>Will do</a></li>
                        <li><a>Paimon</a></li>
                    </ul>
                    <ul class="trioUl">
                        <li><a>abc</a></li>
                        <li><a>Sheeesh</a></li>
                        <li><a>The Plov</a></li>
                    </ul>
                    <ul class="trioUl">
                        <li><a>Contact me</a></li>
                        <li><a>Ha-ha-ha</a></li>
                        <li><a>It is a joke</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>