{{ header()|safe }}
        <div class="cont">
            <h2 class="textCenter">Ho-ho-ho!</h2>
            <div class="parText">
                <h3>Gamer, modeler(not), programmer(not)</h3>
                <p>Plays competitve games, models simple 3D-models, programs this website at ZERO:stage.</p>
            </div>
            <div class="banner1">
                <img src="{{ url_for('static', filename='images/riko.jpg') }}"/>
            </div>
            <div class="parText">
                <h3>Developing...</h3>
                <p>Now I try correctly connect my db and add functions registration, addition posts and ability to see posts (news page).</p>
                <p>After I want add something like admin panel.</p>
            </div>
        </div>
{{ footer()|safe }}